.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #77afdb;
  overflow: hidden;
  font-family: ;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  margin-bottom: 2rem;
  background-image: url("https://richland44musicparents.square.site/uploads/b/0261a3f50b59d2b6ae3c698e34e64a45ad2d45bcdc4cabe091edfd3c5449d46a/Richland%20Music%20Parents%20Logo_1651086122.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  margin: 15px;
  color: #f2f2f2;
  background-color: #77afdb;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 50px;
}

.navLink:hover {
  background-color: #ffcf5f;
}
