.splash{
    background-image: url("https://richland44musicparents.square.site/uploads/b/0261a3f50b59d2b6ae3c698e34e64a45ad2d45bcdc4cabe091edfd3c5449d46a/Richland%20Music%20Parents%20Logo_1651086122.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
  }
  