.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  background-color: #f9f9f9;

}

.logo {
  margin-bottom: 2rem;
}

.logo h1 {
  color: #77afdb;
  font-size: 3rem;
  font-weight: 700;
}

.splash-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .splash-container {
    padding: 4rem;
  }}

