:root {
  --clr-primary: #77afdb;
  --clr-secondary: #ffcf5f;
}

body {
  box-sizing: border-box;
}

.events-container {
  background-color: grey;
  border: 1px solid gray;
  width: 50rem;
  height: 15rem;
  margin-inline: auto;
  margin-block: 1rem;
  box-sizing: border-box;
}

.admin-add-event-form {
  width: 100rem;
  display: flex;
  align-items: center;
}

.events-body {
  width: 100%;
  height: 79%;
  /* background-color: blue; */
}

.events-list-header,
.events-list-body {
  display: flex;
  width: 100%;
  padding: 0;
}

.events-body-header {
  height: 10%;
  background-color: white;
}

.events-body-list {
  height: 80%;
  overflow-y: scroll;
}

.events-list-title,
.events-list-item {
  width: 25%;
  text-align: center;
}

.events-list-item {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-card {
  width: 25rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.address {
  text-align: center;
}
.orders {
  display: flex;
}

.order-card h2 {
  text-align: center;
}

.order-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-order-info-form {
  display: flex;
  flex-direction: column;
}

.edit-order-info-form > input {
  padding: 5px;
}

.subtotal {
  border: none;
  font-size: 2rem;
  outline: none;
  font-weight: bold;
}

.update-item {
  display: flex;
}

.admin-home-header {
  display: flex;
  justify-content: space-between;
}

.admin-home-event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-events-list-header {
  font-size: 2rem;
}

.admin-search-user {
  margin-inline: 1rem;
}

.user-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 50px;
  margin: 8px;
}

.user-card-title {
  font-size: 15px;
  text-decoration: 2px solid black underline;
}

.order-list-section {
  text-align: center;
  font-size: 30px;
  height: 20%;
  font-weight: bold;
  padding: 0;
}

.admin-user-orders {
  width: 90%;
  height: 30rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.user-card-info {
  font-size: 15px;
  font-weight: bold;
}

.order-info-container {
  width: 100%;
  height: 80%;
  display: flex;
  border: 1px solid black;
}

.order-info-section {
  width: 33%;
  height: 65%;
  /* border: 1px solid black; */
}

.order-info-section > p {
  font-size: 13px;
  margin: 10px;
}

.order-info-section-header {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
}

.order-info-section-header > * {
  margin: 0;
  padding: 0;
  text-align: center;
}

.user-card-text > p {
  padding: 0;
  margin: 0;
}

.admin-update-user-permission {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  margin-inline: 1rem;
  border-radius: 10px;
  width: 50rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
}

.admin-update-permissions-header {
  height: 20%;
  background-color: #77afdb;
  width: 100%;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.user-order-card-header {
  height: 20%;
  background-color: #77afdb;
  width: 100%;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.update-user-inputs {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 80%;
}

.user-order-card {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  margin-inline: 1rem;
  border-radius: 10px;
  width: 50rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.14);
}

.user-order-card-no-orders {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  margin-inline: 1rem;
  border-radius: 10px;
  width: 50rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
}

.admin-user-card-form {
  display: flex;
  justify-content: center;
}
