.add-items {
  text-align: center;
}

.add-items-container {
  border-radius: 1rem;
  width: 30rem;
  height: 20rem;
  padding: 1rem;
  margin: 0 0 5rem 2rem;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
}

.cart-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header > h2 {
  margin-left: 1rem;
}

.cart-icon {
  scale: 300%;
  margin-right: 2rem;
}

.cart-icon-false {
  scale: 300%;
  position: relative;
  top: 2rem;
  left: 0.25rem;
  z-index: 0;
}

.cart-icon-container {
  position: relative;
  top: -0.75rem;
  right: 1.6rem;
}

.cart-number {
  padding-top: 0.25rem;
}

.cart-indicator {
  position: relative;
  bottom: 1rem;
  left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  background-color: red;
  color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 100%;
  z-index: 1;
}

.admin-add-products-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 30rem;
}

.add-subtract-icon {
  scale: 150%;
  margin-inline: 1rem;
}

.subtract-icon {
  scale: 200%;
  margin-inline: 1rem;
}

.cart-item-quantity {
  font-size: 1.2rem;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.cart-check-mark {
  scale: 200%;
  color: green;
  margin-inline: 2rem;
}

.remove-from-cart-icon {
  scale: 150%;
  margin-inline: 2rem;
  color: red;
}

.cart-total {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-body {
  height: 70%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.cart-body > h2 {
  color: rgb(215, 215, 215);
}

.remove-from-cart-icon:hover,
.cart-check-mark:hover,
.add-subtract-icon:hover,
.cart-plus:hover,
.subtract-icon:hover {
  cursor: pointer;
}

.product-cart-icon {
  /* border: 1px solid black; */
  color: green;
  scale: 200%;
  margin: 0 2rem 0 0;
}

.item-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-icon-container-false {
  position: relative;
  left: 1.6rem;
  bottom: 0.11rem;
}

.admin-cart-true {
  width: 35rem;
  height: 20rem;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 2rem 5rem 0;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
}

.cart-item {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 90%;
  height: 30%;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
}

.product-item {
  display: flex;
  border-radius: 10px;
  padding: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  background: radial-gradient(
    circle,
    rgba(254, 254, 254, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
}

.events-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-add-event-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-add-event-form-container {
  border-radius: 10px;
  height: 20rem;
  width: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
}
